# CI workflow for validating action
name: Build
on:
- pull_request
- push
jobs:
  run:
    name: Analyze repository
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@main

    - name: Run PSRule analysis
      uses: ./
      with:
        inputType: repository
        outputFormat: Markdown
        outputPath: reports/report.md

    - name: PSRule results
      uses: actions/upload-artifact@v2.2.1
      if: always()
      with:
        name: PSRule-results
        path: reports/report.md
